.global{
  font-family:"Montserrat";
}

.entete{
  margin:0 auto;
}

.entete{
  display:flex;
  flex-direction:row;
  align-items:center;
  height:10vh;

  &__logo-box{
    height:100%;
    margin-left:0;
  }

  &__logo-img{
    height:100%;
  }

  &__nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;

    margin-left:15%;

    width:100%;
  }

  &__recherche{
    display:flex;
    flex-direction:row;
    align-items:center;

    &-form{
      width:80%;
    }

    &-input{
    }

    &-icon{

    }
  }

}