

.hero{
  font-family:"Montserrat";

  min-height: 100vh;
  background-color:rgb(154, 101, 101);
  background-image: url("images/maldives.jpg");
  background-size: cover;

  &__contenu{
    width:90%;
    padding-top:3%;
    margin-left:5%;

    font-size:0.8em;
    font-weight:bold;

  }

  &__titre{
    font-size:3em;
    color:black;
    text-shadow: 2px 2px 4px #389757;

  }

  &__description{
    width:48%;
  }

  &__addresse-electronique{

  }

  &__addresse-physique{

  }

  &__telephone{

  }

  &__bouton{
    margin-bottom:1%;
    font-size:0.7em;
    width:7%;
    height:5vh;
    font-weight:bold;


    border-radius: 5px;
    border: 0px solid black;
    background-color:$couleur__bleute;


  }

  &__icones-box{
    width:5%;
  }

  &__icones{
    width:30%;
  }
}

