$couleur__lien : rgb(58, 58, 58);
$couleur__lien--hover : rgb(0, 0, 0);
$couleur__lien--visited : rgba(0, 0, 0, 0.473);
$couleur__lien--focus : rgba(0, 0, 0, 0.151);

$couleur__bleute : rgb(159, 228, 228);