/* *******************
Le composant .carte
********************** */

.carte {
  @media screen and (max-width:$point_rupture){
    width:49.5%;
  }

  // width:20%;
  // height:20%;
  // margin:0.25% 0.25% 0.25% 0.25%;
  // background-color:yellow;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius:8 px;
  flex: 1 1 250px;
  


  &__img{
    width:100%;
    height:100%;
  }

  &__contenu{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items:top;

    &--texte{
      padding-left:2%;
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      align-items:left;
    }

  
  }
  
}
  