/* *******************
Le composant .carte
********************** */

.carte {
  @media screen and (max-width:$point_rupture){
    width:49.5%;
  }

  width:19.5%;
  height:180px;
  margin:0.25% 0.25% 0.25% 0.25%;
  background-color:yellow;


  &__img{
    height:100%;
    width:100%;
  }
  
}
  