.formulaire{
  background-color:white;
  box-shadow: 2px 2px 5px #d6d6d6, -2px 2px 3px #d6d6d6;
  
  width:60%;
  margin:auto;
  margin-top:-2%;
  padding:0.8% 1% 2% 1%;

  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;

  font-size:0.6em;
  font-family:"Montserrat";

  @media screen and (max-width:$point_rupture){
    // Les screenshots ne montrent pas + pas pratique sur mobile avec des inputs si petits!
    display:none;
  }

  &__section{
    
    &--titre{
      margin-bottom:-0.5%;
    }

    &--form{
    }

    &--input{
      width:100%;
      border: 1.5px solid $couleur__bleute;
      color:rgba(0, 0, 0, 0.418);
      padding-right:10%;
      
    }
  }

  &__bouton{
    width:20%;
    height:10%;
    align-self:end;

    border: 1.5px solid $couleur__bleute;
    background-color:white;
  }
}