//  Header -> Menu
.menu {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  flex-wrap:nowrap;

  padding:0;
  width:80%;


  list-style-type: none;

      &__li {
        display: inline-block;

      }

      &__a {
        color: #333;
        text-decoration: none;
        font-size: 0.7em;

        padding: 2px 5px;
      }
    
  }