//  Header -> Menu
.menu {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  flex-wrap:nowrap;

  margin-right:-10%;
  padding:0;


  list-style-type: none;

      &__li {
        display: inline-block;

      }

      &__a {
        color: #333;
        text-decoration: none;

        padding: 2px 5px;
      }
    
  }