
  .recherche{
    display:flex;
    flex-direction:row;
    align-items:center;

    border: 1px solid rgba(0,0,0,0.05);

    &-form{
      width:80%;
    }

    &-input{
      opacity:50%;

      outline:none;
      &:hover{
        opacity:100%;
      }
    }

    &-icon{

    }
  }
